/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --------------------------------- Global -------------------------------- */
:root {
  --backgroundMain: #f2f2f2;
  --iconColor: #fe4918;
  --backgroundBar: #353535;
  --pointerColor: #fe4918;
  --menurColor: #fe4918;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--backgroundMain);
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 98%;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .contenedor {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .contenedor {
    width: 90%;
    max-width: 1100px;
  }
}

.seccion {
  padding: 30px 0;
}

.seccion p {
  font-size: 1.2em;
  text-align: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}

h2::after {
  content: "";
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 30px;
  width: 100px;
  display: block;
}

h3 {
  font-size: 1.8em;
  color: var(--menurColor);
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.button {
  background-color: var(--iconColor);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #e33000;
}

.float-right {
  float: right;
}

/* --------------------------------- Header --------------------------------- */
div.hero {
  background-image: url(../img/encabezado.jpg);
  height: 100vh;
  background-position: center center;
  /* background-position: top center; */
  background-size: cover;
}

div.contenido-header {
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  div.contenido-header {
    padding-top: 10px;
  }
}
nav.redes-sociales {
  text-align: center;
}

nav.redes-sociales a {
  color: white;
  font-size: 2em;
  margin-right: 20px;
}

nav.redes-sociales a:last-child {
  margin-right: 0px;
}

div.informacion-evento {
  text-align: center;
  color: white;
}

@media only screen and (min-width: 768px) {
  div.informacion-evento {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

div.informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}

div.informacion-evento p i {
  color: var(--iconColor);
  font-size: 2.4rem;
}

p.fecha {
  float: left;
}

p.ciudad {
  float: right;
  text-align: right;
}

h1.nombre-sitio {
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  h1.nombre-sitio {
    font-size: 11.5vw;
    margin: 0;
    line-height: 1;
  }
}

p.eslogan {
  text-transform: none !important;
}

.eslogan span {
  font-weight: bold;
}

/* ------------------------------- Barra ------------------------------- */
div.barra {
  background-color: var(--backgroundBar);
  padding: 20px 0;
}

div.logo {
  width: 80%;
  float: left;
}

@media only screen and (min-width: 768px) {
  div.logo {
    width: 33%;
  }
}

div.logo img {
  width: 100%;
}

/* ------------------------------- Navegacion ------------------------------- */
nav.navegacion-principal {
  display: none;
}

nav.navegacion-principal a {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

nav.navegacion-principal a:hover {
  background-color: var(--pointerColor);
}

nav.navegacion-principal a:last-child {
  border: 2px solid var(--pointerColor);
  color: var(--pointerColor);
}

nav.navegacion-principal a:last-child:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  nav.navegacion-principal {
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }

  nav.navegacion-principal a {
    padding: 10px;
    display: inline-block;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;
  }
}

/* ------------------------------- Menu Movil ------------------------------- */
div.menu-movil {
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}

div.menu-movil:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  div.menu-movil {
    display: none;
  }
}

div.menu-movil span {
  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}

/* -------------------------------- Talleres -------------------------------- */
section.programa {
  position: relative;
}

div.contenedor-video {
  max-width: 100%;
  overflow: hidden;
}

div.contenido-programa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.programa-evento {
  background-color: rgba(255,255,2550.8);
  padding: 15px;
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  div.programa-evento {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  div.programa-evento {
    width: 50%;
  }
}

nav.menu-programa {
  width: 100%;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  nav.menu-programa {
    display: table;
  }
}

nav.menu-programa a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
  nav.menu-programa a {
    display: table-cell;
  }
}

nav.menu-programa a i {
  color: var(--iconColor);
  font-size: 1.6em;
  margin-right: 10px;
}

/* ----------------------------- Detalle Evento ----------------------------- */
div.detalle-evento {
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 0 20px;
}

div.detalle-evento:nth-child(2) {
  border: none
}

div.detalle-evento p {
  margin-bottom: 20px;
  font-size: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
